<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Colores</title>
</head>
<body>
<h1>Categorias de colores</h1>
<table>
  <thead>
  <tr>
    <th>ID Categoria</th>
    <th>Nombre de Categoria</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="ccolores : ${ccolor}">
    <td th:text="${ccolores.id}"></td>
    <td th:text="${ccolores.color}"></td>
  </tr>
  </tbody>
</table>
<div>
  <h1> crear una categoria </h1>
  <form th:action="@{/categorias/colores}" method="post" th:object="${Ccolor}">
    <div th:if="${error}">
      <p style="color:red;" th:text="${error}"></p>
    </div>
    <div>
      <label for="color">Categoria Color:</label>
      <input type="text" id="color" th:field="*{color}" placeholder="Color: ej azul, rojo...">
    </div>
    <button type="submit">Guardar Categoria</button>
  </form>
</div>
</body>
</html>